@import '../../constants/colors';

.input {
  height: 48px;
  line-height: 24px;
  background: $background;
  border: none;
  border-radius: 8px;
  padding: 11px 15px;
  font-size: 16px;
  border: 1px solid transparent;
  width: 100%;

  &::placeholder {
    color: $lightText;
  }

  &:hover,
  &:active,
  &:focus {
    border: 1px solid #dadded;
    outline: 0;
  }

  &:disabled {
    opacity: 0.5;

    &:hover {
      cursor: not-allowed;
      border: 1px solid transparent;
    }
  }

  &::-webkit-calendar-picker-indicator {
    margin-left: 8px;
  }
}
