@import '../../constants/colors.scss';

.button {
  margin-top: 8px;
  width: 100%;
}

.successMessage {
  // hack until we find better notifications - this is copied from form errors
  color: $primary;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 8px;
}
