ENV_NAME=local
LOG_LEVEL=debug

DATABASE_URL=postgres://boilerplate:boilerplate@localhost:5432/boilerplate
REDIS_URL=redis://redis:6379

SECRET_TOKEN=something-secret

# Address where the web aplication is located from an external perspective
BASE_URL=localhost:3000

EMAIL_CLIENT=none
# Sendgrid
EMAIL_FROM="Send <sender@test.com>"
EMAIL_SUPPORT=support@test.com
EMAIL_WHITELIST=
SENDGRID_API_KEY=__your sendgrid api key__

SMS_CLIENT=none
TWILIO_ACCOUNT_SID=123
TWILIO_AUTH_TOKEN=123

SERVER_SENTRY_DSN=
SITE_DOMAIN=localhost
