@import '../../../constants/colors.scss';

$minButtonWidth: 208px;

.contentWrapper {
  min-height: 300px;
}

.introText {
  margin-bottom: 54px;
}

.divider {
  width: 75%;
  margin: 24px auto;
  border-top-color: $light;
}

.button {
  min-width: $minButtonWidth;
}

.buttonsWrapper {
  text-align: center;
}

.totpContent {
  text-align: center;
}

.qrCode {
  width: 50%;
  height: auto;
}

.qrCopyURLContent {
  display: flex;
  align-items: center;
}

.copyIconContainer {
  cursor: pointer;
  margin-left: 12px;
}

input.codeInput {
  min-width: $minButtonWidth;
  width: 50%;
  margin-bottom: 24px;

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.footerText {
  cursor: pointer;
}
