@import '../../../constants/colors';

.actions {
  display: flex;
  padding-right: 16px;
  justify-content: flex-end;
  align-items: center;
}

.name {
  color: $text;
  text-decoration: none;
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}
