@import '../../constants/colors';

$mobileWidth: 860px;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin: 0;
  }

  &.action {
    margin: 0;

    @media screen and (max-width: $mobileWidth) {
      background: transparent;
      color: $primary;
      padding: 0;

      &:hover {
        background: transparent;
      }
    }
  }
}

.table {
  @media screen and (max-width: $mobileWidth) {
    thead {
      display: none;
    }
  }
}

.rowThird {
  width: calc(100% / 3);
  @media screen and (max-width: $mobileWidth) {
    width: 100%;
  }
}

.rowSixth {
  width: calc(100% / 6);
  @media screen and (max-width: $mobileWidth) {
    width: 100%;
  }
}

.stepColumn {
  text-decoration: underline;
  > a {
    color: $text !important;
    white-space: nowrap;
    overflow: hidden;
    max-width: 290px;
    display: block;
    text-overflow: ellipsis;
  }
}
