@import '../../constants/colors';

$mobileBreakpoint: 472px;

.row {
  width: 100%;
  display: flex;

  @media screen and (max-width: $mobileBreakpoint) {
    flex-wrap: wrap;
  }

  .input {
    width: 200px;
    margin-bottom: 8px;

    &:first-child {
      margin-right: 24px;
    }

    @media screen and (max-width: $mobileBreakpoint) {
      width: 100%;
      margin-bottom: 24px;

      &:first-child {
        margin-right: 0;
      }
    }
  }
}
.action {
  margin-top: 24px;
  //margin-bottom: 32px;
  width: 100%;
}
