$primary: #00989f;
$secondary: #06c8d1;
$accentLight: #ff9981;
$accentDark: #e06346;
$lightBlue: #adfbff;
$lightYellow: #fffecb;
$lightRed: #ffdbd2;
$text: #2e2f2f;
$dark: #859797;
$light: #d3d7db;
$background: #f3f4fa;
$lightBackground: #fafbff;
$lightText: #758585;
$lightGreen: #d8e3eb;
$highlight: #f7f8fe;
$accentGreen: #c7e1c9;
$inputBorderColor: #dadded;
// New palette
// Lets start defining and then decide on the naming once we get to the final design
$textBlack: #112;
$backgroundGrey: #f2f2f2;
$iconGrey: #b5b5b5;
$contrastGrey: #777575;
$selectedPrimary: #42969d;
$dividerColor: #b5b5b5;
$textGrey: #707070;
